<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	
<hibernate-configuration>
    <session-factory>
       <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="connection.url">jdbc:postgresql://ec2-3-234-85-177.compute-1.amazonaws.com:5432/dejsmun7dnp1k6</property>
       <property name="connection.username">bnnqcorwsldajc</property>
       <property name="connection.password">2ed981aa61d7e00cc89c774ae1917def119c1843808a82ed9a4ef95d34fc5173</property>
       <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
       <property name="hbm2ddl.auto">update</property>
       <property name="show_sql">true</property>
       <property name="format_sql">true</property>
       <mapping class="com.notemaker.entity.Note"/>
    </session-factory>
</hibernate-configuration>